<!--<ion-nav-view name="appContent"></ion-nav-view>-->
<!--<ion-footer-view>-->
<!--    <div class="bar-positive tabs app-tabs">-->
<!--        <a class="tab-item" ng-click="goHome()">-->
<!--            <i class="icon ion-ios-home"></i>-->
<!--        </a>-->
<!--        <a class="tab-item" ng-click="goRider()">-->
<!--            <i class="icon ion-ios-briefcase"></i>-->
<!--        </a>-->
<!--        <a class="tab-item" ng-click="goPlus()">-->
<!--            <i class="icon ion-plus-circled"></i>-->
<!--        </a>-->
<!--        <a class="tab-item" ng-click="goDriver()">-->
<!--            <i class="icon ion-ios-navigate"></i>-->
<!--        </a>-->
<!--        <a class="tab-item" ng-click="goProfile()">-->
<!--            <i class="icon ion-person"></i>-->
<!--        </a>-->
<!--    </div>-->
<!--</ion-footer-view>-->