<ion-view view-title="{{'APP.NAME' | translate}}">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-gear-a button-clear" style="vertical-align: text-top;" ui-sref="settings">
        </button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <!--<h3 align="center">{{"INFO.TRIPS" | translate}}</h3>-->

        <div class='card'>
            <div class="item item-divider card-header" align='center'>
                {{"INFO.TRIPS" | translate}}
            </div>
            <label class="item item-input item-select">
                <div class="input-label">
                    Filter Rides
                </div>
                <select ng-model="filterItem.store" ng-init="filterItem.store=filterOptions.sort[0].name">
                    <option value="{{item.state}}" ng-repeat="item in filterOptions.sort" ng-selected="$first">
                        {{item.name}}
                    </option>
                </select>
            </label>
            <hr>
            <div>
                <ion-item ng-repeat="trip in driverTrips | filter:customFilter" ng-click="goTo(trip.state)" class='row-no-padding'>
                    <ion-list>
                        <ion-item>
                            <div class="row">
                                <div class="col col-75">
                                    {{trip.startDate}} To {{trip.endLocation}} - {{trip.state}}
                                </div>
                            </div>
                        </ion-item>
                    </ion-list>
                </ion-item>
            </div>
        </div>
    </ion-content>
</ion-view>