<ion-view view-title="{{'APP.NAME' | translate}}">
	<!--Add Driver Trip details as an H3-->
	<ion-nav-buttons side = "right">
	    <button class = "button ssf-bar-header icon ion-gear-a settings-button button-clear" ui-sref = "settings">
		</button>
	</ion-nav-buttons>
	<ion-content>
	    <div class="card">
	    	<br>
    	    <div align="center" class = "title">
    	        {{'DRIVER_NEW_TRIP_NR.TRIP_DETAILS' | translate}}
    	    </div>
    	    <br>
    	    <br>
    	    <div class = "row">
    			<div class = "col outline-bottom" align="center">
    				{{'DRIVER_NEW_TRIP_NR.START_LOCATION' | translate}} <br>
    				{{tripDetails.startAddress}}
    			</div>
    		</div>
    		<div class="row" align="center">
    			<div class = "col outline-bottom">
    				{{'DRIVER_NEW_TRIP_NR.END_LOCATION' | translate}} <br>
    				{{tripDetails.destAddress}}
    			</div>
    		</div>
    		<div class="row">
    			<div class="col col-50 outline-bottom" align="center"> 
    				<div>
    					{{'DRIVER_NEW_TRIP_NR.START_TIME' | translate}}
    				</div>
    				<div>
    					{{tripDetails.startTime}}
    				</div>
    			</div>
    			<div class="col outline-left" align="center"> 
    				{{'DRIVER_NEW_TRIP_NR.SEATS_AVAILABLE' | translate}}
    			</div>
    		</div>
    		<div class = "row">
    			<div class = "col col-50">
    				<div align="center">
    					{{'DRIVER_NEW_TRIP_NR.END_TIME' | translate}}
    				</div>
    				<div align="center">
    					{{tripDetails.expectedEndTime}}
    				</div>
    			</div>
    			<div class = "col outline-left" align="center">
    				{{tripDetails.seatsAvailable}}
    			</div>
    		</div>
		</div>
		<div class="card">
			<div class="item item-divider" align="center">
				{{'DRIVER_NEW_TRIP_NR.MAP' | translate}}
			</div>
			<div class="item item-text-wrap" align="center">
				<img src = "{{tripDetails.mapImage}}" width = "80%">
			</div>
		</div>
	</ion-content>
</ion-view>