<ion-view view-title="{{'DRIVERRESERVEDRIDE.NAME' | translate}}" hide-nav-bar="false">
    <ion-nav-buttons side="right">
        <button class="button button-clear icon ion-gear-a" ui-sref="settings">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="card">
            <br>
            <div align="center" class="title">
                {{'DRIVERRESERVEDRIDE.TRIP_DETAILS' | translate}}
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col outline-bottom" align="center">
                    {{'DRIVERRESERVEDRIDE.START_LOCATION' | translate}}
                    <br> {{tripDetails.startAddress}}
                </div>
            </div>
            <div class="row" align="center">
                <div class="col outline-bottom">
                    {{'DRIVERRESERVEDRIDE.END_LOCATION' | translate}}
                    <br> {{tripDetails.destAddress}}
                </div>
            </div>
            <div class="row">
                <div class="col col-50 outline-bottom" align="center">
                    <div>
                        {{'DRIVERRESERVEDRIDE.START_TIME' | translate}}
                    </div>
                    <div>
                        {{tripDetails.startTime}}
                    </div>
                </div>
                <div class="col outline-left" align="center">
                    {{'DRIVERRESERVEDRIDE.TOTAL_PASSENGERS' | translate}}
                </div>
            </div>
            <div class="row">
                <div class="col col-50">
                    <div align="center">
                       {{'DRIVERRESERVEDRIDE.END_TIME' | translate}}
                    </div>
                    <div align="center">
                        {{tripDetails.expectedEndTime}}
                    </div>
                </div>
                <div class="col outline-left" align="center">
                    {{tripDetails.seatsAvailable}}
                </div>
            </div>
        </div>
        <!--<div class="padding text-center subheader">-->
        <!--    {{'DRIVER.DATE_TITLE' | translate}}-->
        <!--</div>-->
        <!--<div class="row padding">-->
        <!--    <div style="margin: auto; width: 25%">-->
        <!--        <div class="col border">Start Time</div>-->
        <!--    </div>-->
        <!--    <div style="margin: auto; width:25%">-->
        <!--        <div class="col border">Est. End Time</div>-->
        <!--    </div>-->
        <!--</div>-->
        <!--<div class="row padding">-->
        <!--    <div class="col border">Start Location</div>-->
        <!--</div>-->
        <!--<div class="row padding">-->
        <!--    <div class="col border">End Location</div>-->
        <!--</div>-->
         <div align = "center">{{'DRIVERRESERVEDRIDE.COMMITTED_RIDERS' | translate}}</div>
         <div class="card" ng-repeat="riders in committedRiders" ng-click = "">
            <ion-list>
                <ion-item>
                    <div class = "row outline-bottom">
                        <div class = "col col-33">
                            {{riders.name}}
                        </div>
                        <div class = "col" align = "right">
                            ${{riders.maxWillingToPay}}
                        </div>
                        <div class = "col col-33" align = "right">
                            {{riders.startAfterTime}}-{{riders.startBeforeTime}}
                        </div>
                    </div>
                    <div class = "row outline-bottom">
                        <div class = "col" align = "center">
                            Pick-Up Location: <br>
                            {{riders.startAddress}} <br>
                            Click for more info.. <button class = "button button-clear icon ion-navicon-round"></button>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
        </div>
        <div>
            <button class="item button button-block button-calm ssf-button" type="button" ng-click="">
                {{'DRIVERRESERVEDRIDE.RIDE_START' | translate}}
            </button>
            <button class="item button button-block button-calm ssf-button" type="button" ng-click="">
                {{'DRIVERRESERVEDRIDE.RIDE_COMPLETE' | translate}}
            </button>
            <button class="item button button-block button-calm ssf-button-inverted" type="button" ng-click="">
                {{'DRIVERRESERVEDRIDE.CANCEL_TRIP' | translate}}
            </button>
            <button class="item button button-block button-calm ssf-button-inverted" type="button" ng-click="">
                {{'DRIVERRESERVEDRIDE.RIDER_NO_SHOW' | translate}}
            </button>
        </div>
    </ion-content>
</ion-view>