<ion-view view-title="RideShare!">
      <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-gear-a button-clear" style="vertical-align: text-top;" ui-sref="settings">
        </button>
    </ion-nav-buttons>
    
    <ion-content class="padding">
        <h3 align="center">Driver Trips</h3>
        <select ng-model="filterItem.store" ng-options="item.name for item in filterOptions.sort" ng-init="filterItem.store=filterOptions.sort[0]">
        </select>

        <div class="list list-inset">
            <div class="item border" ng-repeat="trip in trips | filter:customFilter" ng-click="goTo(trip.state)">
                {{trip.startDate}} - {{trip.state}}
            </div>
        </div>

        <button ui-sref="driverHistory" class="button button-block ssf-button button-calm">Driver history</button>
    </ion-content>
</ion-view>
