<ion-view view-title="{{'APP.NAME' | translate}}">
    <!-- Include ion-nav-buttons in every index to avoid breaking the app (ionic material bug) -->
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-gear-a button-clear" ui-sref="settings">

        </button>
    </ion-nav-buttons>
    <ion-content class="padding has-footer">
        
        <!--<h3 align='center'>{{'DRIVER_PENDING_TRIP_CTRL.TITLE' | translate}}</h3>-->

        <div class='card item item-text-wrap'>
            <div class="item item-divider" align='center'>
                {{'DRIVER_PENDING_TRIP_CTRL.TITLE' | translate}}
            </div>
            <div class='row'>
                <div class=' col list'>
                    <label class='row'>
                        <img style="display:block" height="100%" width="100%" src='{{fakeUser.image}} '>
                    </label>
                </div>
                <div class='col list '>
                    <label class='row driver-info list'>
                        {{'RIDER_TRIP_DETAILS_CTRL.RIDER' | translate}}
                    </label>
                    <label class='row list'>
                        <strong>{{'RIDER_TRIP_DETAILS_CTRL.NAME' | translate}}</strong>&nbsp; {{pendingRide.name}}
                    </label>
                    <label class='row list'>
                        <strong>{{'RIDER_TRIP_DETAILS_CTRL.AGE' | translate}}</strong>&nbsp; {{pendingRide.age}}
                    </label>
                    <div class='row list'>
                        <strong>{{'RIDER_TRIP_DETAILS_CTRL.GENDER' | translate}}</strong>&nbsp; {{pendingRide.gender}}
                    </div>
                </div>
            </div>
        </div>
        
        <div class="list card">
            <div class="item item-icon-left">
                <i class="icon ion-calendar"></i>
                &nbsp;&nbsp;&nbsp; <strong>{{'DRIVER_PENDING_TRIP_CTRL.RIDE_DATE' | translate}}:</strong>&nbsp; {{pendingRide.startDate}}
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-clock"></i>
                &nbsp;&nbsp;&nbsp; <strong>{{'DRIVER_PENDING_TRIP_CTRL.PICKUP_TIME' | translate}}:</strong>&nbsp; {{pendingRide.startAfterTime}}
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-location"></i>
                &nbsp;&nbsp;&nbsp; <strong>{{'DRIVER_PENDING_TRIP_CTRL.PICKUP_LOCATION' | translate}}:</strong>&nbsp; {{pendingRide.startAddress}}
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-location"></i>
                &nbsp;&nbsp;&nbsp; <strong>{{'DRIVER_PENDING_TRIP_CTRL.DROPOFF_LOCATION' | translate}}:</strong>&nbsp; {{pendingRide.destAddress}}
            </div>
        </div>
        <div class="list card">
            <div class="item item-icon-left">
                <i class="icon ion-help-buoy"></i>
                <ion-checkbox class="item item-checkbox item-checkbox-right" ng-checked="{{pendingRide.haveWheelchair}}" ng-disabled="true">
                    <strong>{{'DRIVER_PENDING_TRIP_CTRL.WHEELCHAIR' | translate}}:</strong>
                </ion-checkbox>
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-ios-paw"></i>
                <ion-checkbox class="item item-checkbox item-checkbox-right" ng-checked="{{pendingRide.haveDog}}" ng-disabled="true">
                    <strong>{{'DRIVER_PENDING_TRIP_CTRL.DOG' | translate}}:</strong>
                </ion-checkbox>
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-loop"></i>
                <ion-checkbox class="item item-checkbox item-checkbox-right" ng-checked="{{pendingRide.roundTrip}}" ng-disabled="true">
                    <strong>{{'DRIVER_PENDING_TRIP_CTRL.ROUND_TRIP' | translate}}:</strong>   
                </ion-checkbox>
            </div>
        </div>
       
       <div class="button-bar">
            <a class="button button-block ssf-button button-calm col-50 border" ui-sref="driverReservedRide">{{'DRIVER_PENDING_TRIP_CTRL.ACCEPT' | translate}}</a>
            <a class="button button-block ssf-button button-calm col-50 border" ui-sref="driver">{{'DRIVER_PENDING_TRIP_CTRL.DECLINE' | translate}}</a>
        </div>

    </ion-content>
</ion-view>