<ion-view view-title="{{'APP.NAME' | translate}}" hide-nav-bar="false">
    <ion-nav-buttons side="right">
        <button class="button button-clear icon ion-gear-a" ui-sref="settings">
        </button>
    </ion-nav-buttons>
    <ion-content class="padding has-footer">
        <div class="text-center subheader">
            {{'HISTORY.DRIVER_HISTORY_HEADER' | translate}}
        </div>
        <br>
        <ion-scroll class=col scrollbar-y="true" zooming="false">
            <div class="card">
                <div>
                    <!-- clicking on the card will send user to trip details of past trip -->
                    <ion-item class="text-center" ng-repeat="trip in pastTrips" ng-click="driverHistory({{trip}})">
                        {{trip.startDate}}
                        <br> {{trip.destAddress}}
                    </ion-item>
                </div>
            </div>
        </ion-scroll>
        <!-- button will send user to rider history -->
        <button class="item button button-block button-calm ssf-button" type="button" ng-click="goToRider()">
            {{'HISTORY.RIDER_HISTORY' | translate}}
        </button>
    </ion-content>
</ion-view>