<ion-view view-title="{{'LANDING_CTRL.TITLE' | translate }}" hide-nav-bar="false">
    <!-- Include ion-nav-buttons in every index to avoid breaking the app (ionic material bug) -->
    <ion-nav-buttons></ion-nav-buttons> 
    <ion-content>
        <div class="padding list animate-ripple">
            <button class="item button button-block button-calm ssf-button" ng-click="login()">
                {{'LANDING_CTRL.LOGIN' | translate }}
            </button>
            <button class="item button button-block button-calm ssf-button" ng-click="register()">
                {{'LANDING_CTRL.REGISTER' | translate }}
            </button>
            <button class="item button button-block button-calm ssf-button" ui-sref="navigation">
                Debugging Navigation
            </button>
        </div>
    </ion-content>
</ion-view>