<!--<ion-view view-title="{{'APP.NAME' | translate }}" hide-nav-bar="false">-->
<ion-view view-title="RideShare! by SSF" hide-nav-bar="false">
    <!-- Add as an H 3"{{'LANDING_CTRL.TITLE' | translate }}"-->
    <!-- Include ion-nav-buttons in every index to avoid breaking the app (ionic material bug) -->
    <ion-nav-buttons></ion-nav-buttons>
    <ion-content class="padding has-footer">
        <div class="list animate-ripple">
            <button class="item button button-block button-calm ssf-button" ng-click="login()">
                {{'LANDING_CTRL.LOGIN' | translate }}
            </button>
            <button class="item button button-block button-calm ssf-button" ng-click="register()">
                {{'LANDING_CTRL.REGISTER' | translate }}
            </button>
            <button class="item button button-block button-calm ssf-button" ui-sref="navigation">
                Debugging Navigation
            </button>
        </div>
    </ion-content>
</ion-view>