<ion-view view-title="{{'LANDING_CTRL.TITLE' | translate }}">
    <!-- Include ion-nav-buttons in every index to avoid breaking the app (ionic material bug) -->
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-log-out" ng-click="logout()">
            
        </button>
    </ion-nav-buttons> 
    <ion-content>
        <button class="item button button-block button-calm ssf-button" ui-sref="navigation">
            Debugging Navigation
        </button>
    </ion-content>
</ion-view>