<ion-view view-title="{{'APP.NAME' | translate}}">
    <!-- Include ion-nav-buttons in every index to avoid breaking the app (ionic material bug) -->
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-gear-a button-clear" ui-sref="settings"></button>
    </ion-nav-buttons>
    <ion-content class='padding has-footer'>
        
        <div class='card'>
            <div class="item item-divider" align='center'>
                {{'LOBBY_CTRL.TRIPS' | translate}}
            </div>
            <div>
                <ion-item ng-repeat="ride in rides"  class='row-no-padding'>
                    <div class='row'>
                        <div class='col col-33'>
                            <div class='driver-info'>{{'LOBBY_CTRL.START_DATE' | translate}}</div>
                            <div align='center'>{{ride.startDate | date: shortDate}}</div>
                        </div>
                        <div class='col col-33'>
                            <div class='driver-info'>{{'LOBBY_CTRL.DESTINATION' | translate}}</div>
                            <div align='center'>{{ride.destAddress.city}}</div>
                        </div>
                        <div class='col col-33'>
                            <div class='driver-info'>{{'LOBBY_CTRL.DRIVER' | translate}}</div>
                            <div align='center'>{{ride.firstName}}</div>
                        </div>
                    </div>
                </ion-item>
            </div>
        </div>

        <button class="item button button-block button-calm ssf-button" ui-sref="navigation">
            Debugging Navigation
        </button>
        
    </ion-content>
</ion-view>