<ion-view view-title="{{'APP.NAME' | translate}}" hide-nav-bar="false">
    <!--"{{'RIDER_MATCHED_RIDE.NAME' | translate}}"-->
    <ion-nav-buttons side="right">
        <button class="button button-clear icon ion-gear-a" ui-sref="settings">
        </button>
    </ion-nav-buttons>
    <ion-content class="padding has-footer">
        <div class="text-center subheader">
            {{riderTrip.startDate}}
        </div>
        <div class="text-center subheader">
            {{'RIDER_MATCHED_RIDE.MATCHED_TRIPS' | translate}}
        </div>
        <div class=row>
            <div class=col></div>
            <ion-scroll class=col-67 scrollbar-y="true" zooming="false">
                <div class="card">
                    <div>
                        <ion-item ng-repeat="drivers in matchedDrivers" ng-click="tripMatch(drivers)">
                            {{drivers.driverName}}
                            <br> {{drivers.startTime}} - {{drivers.expectedEndTime}}
                        </ion-item>
                    </div>
                </div>
            </ion-scroll>
            <div class=col></div>
        </div>
    </ion-content>
</ion-view>