<ion-view view-title="{{'APP.NAME' | translate }}">
    <!--  Put this as an H3 ="{{'LANDING_CTRL.TITLE' | translate }}"-->
    <!-- Include ion-nav-buttons in every index to avoid breaking the app (ionic material bug) -->
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-gear-a button-clear" ui-sref="settings">

        </button>
    </ion-nav-buttons>
    <ion-content class='padding'>
        <h3 align='center'>Trip Details</h3>

        <div class='row'>
            <div class='col'>
                <div class='row list list-inset border'>
                    <img src='{{fakeUser.image}}' height=105>
                </div>
            </div>
            <div class='col'>
                <div class='row list list-inset border'>
                    {{fakeUser.name}}
                </div>
                <div class='row list list-inset border'>
                    {{fakeUser.age}}
                </div>
                <div class='row list list-inset border'>
                    {{fakeUser.gender}}
                </div>
            </div>
        </div>

        <div class='row list list-inset border' ng-repeat='pref in preferences'>
            <ion-checkbox>{{pref.text}}</ion-checkbox>
        </div>

        <div class='row list list-inset border'>
            {{fakeUser.pickupTime}}
        </div>
        <div class='row list list-inset border'>
            {{fakeUser.pickupLoc}}
        </div>
        <div class='row list list-inset border'>
            {{fakeUser.dropoffLoc}}
        </div>

        <button class="item button button-block button-calm ssf-button">
            Commit to Ride
        </button>
    </ion-content>
</ion-view>
