<ion-view view-title="{{'RIDER_TRIP_DETAILS_CTRL.DETAILS' | translate }}">
    <!-- Include ion-nav-buttons in every index to avoid breaking the app (ionic material bug) -->
    <ion-nav-buttons side="right">
        <button class="button button-clear icon ion-gear-a">

        </button>
    </ion-nav-buttons>
    <ion-content class='padding'>
        <h3 align='center'>{{'RIDER_TRIP_DETAILS_CTRL.DETAILS' | translate}}</h3>

            <div class='row'>
                <div class=' col list '>
                    <label class='row '>
                        <img style="display:block;" width="100%" height="100%" src='{{fakeUser.image}} '>
                    </label>
                </div>
                <div class='col list '>
                    <label class='row driver-info list'>
                        {{'RIDER_TRIP_DETAILS_CTRL.DRIVER' | translate}}
                    </label>
                    <label class='row list'>
                        {{fakeUser.name}}
                    </label>
                    <label class='row list'>
                        {{fakeUser.age}}
                    </label>
                    <div class='row list'>
                        {{fakeUser.gender}}
                    </div>
                </div>
            </div>
            <hr>
            <div class='row ' ng-repeat='pref in preferences'>
                <div class='col'>
                    <ion-checkbox>
                        <div class="list">&nbsp; {{pref.text}}</div>
                    </ion-checkbox>
                </div>
            </div>
            <hr>
            <div class='row '>
                <div class='col '>
                    <label class='row list'>
                        {{fakeUser.pickupTime}}
                    </label>
                    <label class='row list'>
                        {{fakeUser.pickupLoc}}
                    </label>
                    <label class='row list'>
                        {{fakeUser.dropoffLoc}}
                    </label>
                </div>
            </div>
            <hr>
            
        <button class="button button-block button-calm ssf-button" ng-click="">
            {{'RIDER_TRIP_DETAILS_CTRL.COMMIT ' | translate}}
        </button>
    </ion-content>
</ion-view>
