<ion-view view-title="{{'APP.NAME' | translate}}">
    <!-- Include ion-nav-buttons in every index to avoid breaking the app (ionic material bug) -->
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-gear-a button-clear" ui-sref="settings">

        </button>
    </ion-nav-buttons>
    <ion-content class='padding has-footer'>

        <div class='card item item-text-wrap'>
            <div class="item item-divider card-header" align='center'>
                {{'RIDER_TRIP_DETAILS_CTRL.DETAILS' | translate}}
            </div>
            <div class='row'>
                <div class='col col-50 list '>
                    <label class='row'>
                        <img style="display:block;" width="100%" height="100%" src='{{fakeUser.image}} '>
                    </label>
                </div>
                <div class='col col-50 list'>
                    <br>
                    <label class='row driver-info list'>
                        {{'RIDER_TRIP_DETAILS_CTRL.DRIVER' | translate}}
                    </label>
                    <label class='row list'>
                        {{'RIDER_TRIP_DETAILS_CTRL.NAME' | translate}} {{fakeUser.name}}
                    </label>
                    <label class='row list'>
                        {{'RIDER_TRIP_DETAILS_CTRL.AGE' | translate}} {{fakeUser.age}}
                    </label>
                    <div class='row list'>
                        {{'RIDER_TRIP_DETAILS_CTRL.GENDER' | translate}} {{fakeUser.gender}}
                    </div>
                </div>
            </div>
        </div>

        <div class='card item item-text-wrap'>
            <div class='row'>
                <div class='col col-50' align='center'>
                    <div class='list row row-no-padding' ng-repeat='pref in preferences' ng-if="$even">
                        <div class="col col-85 list center">{{pref.text}}</div>
                        <div class="col col-15 icon ion-ios-checkmark" align="center" ng-show="pref.checked"></div>
                        <div class="col col-15 icon ion-ios-close" align="center" ng-hide="pref.checked"></div>
                    </div>
                </div>
                <div class='col col-50' align='center'>
                    <div class='list row row-no-padding' ng-repeat='pref in preferences' ng-if="$odd">
                        <div class="col col-85 list center">{{pref.text}}</div>
                        <div class="col col-15 icon ion-ios-checkmark" align="center" ng-show="pref.checked"></div>
                        <div class="col col-15 icon ion-ios-close" align="center" ng-hide="pref.checked"></div>
                    </div>
                </div>
            </div>
        </div>

        <form name='commitRide' novalidate ng-submit='commitSubmitForm(commitRide)'>
            <div class='card item'>
                <ion-item>
                    <label class="item item-input item-floating-label row-no-padding">
                        <span class="input-label">{{'RIDER_TRIP_DETAILS_CTRL.START_TIME' | translate}}</span>
                        <input name="startTime" type="text" onfocus="this.type='time'; this.setAttribute('onfocus',''); this.blur();this.focus();" placeholder="{{'RIDER_TRIP_DETAILS_CTRL.START_TIME' | translate}}" ng-model="fakeUser.startTime" required></input>
                    </label>
                </ion-item>
                <ion-item>
                    <label class="item item-input item-floating-label row-no-padding">
                        <span class="input-label">{{'RIDER_TRIP_DETAILS_CTRL.PICKUP_LOCATION' | translate}}</span>
                        <input name="pickupLocation" type="text" placeholder="{{'RIDER_TRIP_DETAILS_CTRL.PICKUP_LOCATION' | translate}}" ng-model="fakeUser.pickupLoc" required></input>
                    </label>
                </ion-item>
                <ion-item>
                    <label class="item item-input item-floating-label row-no-padding">
                        <span class="input-label">{{'RIDER_TRIP_DETAILS_CTRL.DROPOFF_LOCATION' | translate}}</span>
                        <input name="dropoffLocation" type="text" placeholder="{{'RIDER_TRIP_DETAILS_CTRL.DROPOFF_LOCATION' | translate}}" ng-model="fakeUser.dropoffLoc" required></input>
                    </label>
                </ion-item>

            </div>
            <button class="item button button-block button-calm ssf-button" ng-click='commit()'>
                {{'RIDER_TRIP_DETAILS_CTRL.COMMIT' | translate}}
            </button>
        </form>
        <!--DEBUGGING BUTTON-->
        <button class="item button button-block button-calm ssf-button" ui-sref="navigation">
            Debugging Navigation
        </button>
    </ion-content>
</ion-view>
