<ion-view view-title="{{'APP.NAME' | translate }}">
    <!--Add Settings as an H3-->
    <ion-nav-buttons></ion-nav-buttons>
    <ion-content class="padding has-footer">
        <label class="item item-input item-select">
            <div class="input-label">
                {{"LANGUAGE.LANGUAGE" | translate}}
            </div>
            <select ng-model="languages.change" ng-init="filterItem.store=filterOptions.sort[0].name" ng-change="setLanguage()">
                <option  value="{{item.state}}" ng-repeat="item in filterOptions.sort" ng-selected="$first"  >
                    {{item.name}}
                </option>
            </select>
        </label>
        <br> </br>
         <button class="button button-block ssf-button button-calm" ui-sref="wizard">{{"BUTTONS.WIZARD" | translate}}</button>
         <br></br>
          <button class="button button-block ssf-button button-calm" ui-sref="eula">{{"BUTTONS.EULA" | translate}}</button>
           <br></br>
          <button class="button button-block ssf-button button-calm" ng-click="logout()">{{"BUTTONS.LOGOUT" | translate}}</button>
    </ion-content>
</ion-view>