<ion-view view-title="{{'APP.NAME' | translate }}">
	<!--Profile needs to be moved to an H3-->
	<ion-nav-buttons side = "left">
		<button ui-sref = "userProfileSettings" class = "button button-clear ssf-bar-header icon ion-edit settings-button">
		</button>
	</ion-nav-buttons>
	<ion-nav-buttons side = "right">
	    <button class = "button button-clear ssf-bar-header icon ion-gear-a settings-button" ui-sref = "settings">
		</button>
	</ion-nav-buttons>
	<ion-content>
		<div class="row">
			<div class="col col-67" align="center"><p ng-bind="user.firstName"></p> <br> {{user.age}} {{'USER_PROFILE.AGE' | translate}}
			<br> {{findGender() | translate}} 
			<a ng-show = "user.gender" class = "ion-male"></a> 
			<a ng-hide = "user.gender" class = "ion-female"></a> 
			</div>
			<div class="col"> <img src = "{{user.photo}}" width = "100%"> 
			</div>
		</div>
		<div class = "row">
			<div class = "col col-67" align="center"> {{'USER_PROFILE.CURRENT_RATING' | translate}}
			    <br> 
			    <rating ng-model="rating.rate" max="rating.max" readonly="readOnly"></rating>
			</div>
			<div class = "col col-33" vertical-align = "middle"> {{'USER_PROFILE.CONTACT' | translate}} 
			    <button class = "button button-clear icon ion-android-call call-button" ng-click = "openPopover($event)"></button>
			</div>
		</div>
		<div class = "row">
			<div class = "col" align="center"> {{'USER_PROFILE.MUTUAL_FRIENDS' | translate}} <button class = "icon ion-social-facebook"></button></div>
		</div>
		<!----Make sure to add gitHub plug-in for the stars once you add complete the userProfile Settings VVVV ---->
		<div class = "row">
			<div class = "col icon ion-image center" align="center"></div>
			<div class = "col icon ion-image center" align="center"></div>
			<div class = "col icon ion-image center" align="center"></div>
			<div class = "col icon ion-image center" align="center"></div>
			<div class = "col icon ion-image center" align="center"></div>
		</div>
		<div class="card">
			<div class="item item-divider" align="center">
				{{'USER_PROFILE.PREFERENCES' | translate}}
			</div>
			<div class="item item-text-wrap">
				<div class = "row">
					<div class = "col col-67">{{'USER_PROFILE.AGE_RANGE' | translate}}:</div>
					<div class = "col" align="center">{{userPreferences.ageRange}}</div>
				</div>
				<div class = "row">
					<div class = "col col-67">{{'USER_PROFILE.SAME_SEX_ONLY' | translate}}:</div>
					<div class = "col icon ion-ios-checkmark" align="center" ng-show = "userPreferences.sameSexOnly"></div>
					<div class = "col icon ion-ios-close" align="center" ng-hide = "userPreferences.sameSexOnly"></div>
				</div>
				<div class = "row">
					<div class = "col col-67">{{'USER_PROFILE.LIKES_DOGS' | translate}}:</div>
					<div class = "col icon ion-ios-checkmark" align="center" ng-show = "userPreferences.likesDogs"></div>
					<div class = "col icon ion-ios-close" align="center" ng-hide = "userPreferences.likesDogs"></div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>