<ion-view view-title="{{'APP.NAME' | translate}}">
    <!-- Include ion-nav-buttons in every index to avoid breaking the app (ionic material bug) -->
    <ion-nav-buttons>

    </ion-nav-buttons>
    <ion-content class="padding">
        <h3 align='center'>{{'FORMS.POPUPS.TRIPS_AVAILABLE' | translate}}</h3>

        <div class='card'>
            <div>
                <ion-item ng-repeat="ride in rides | limitTo : 5" ng-click='showAlert()' class='row-no-padding'>
                    <div class='row'>
                        <div class='col col-33'>
                            <div class='driver-info'>{{'WIZARD_ACTIVITY.START_DATE' | translate}}</div>
                            <div align='center'>{{ride.startDate | date: short}}</div>
                        </div>
                        <div class='col col-33'>
                            <div class='driver-info'>{{'WIZARD_ACTIVITY.START_LOCATION' | translate}}</div>
                            <div align='center'>{{ride.startAddress.city}}</div>
                        </div>
                        <div class='col col-33'>
                            <div class='driver-info'>{{'WIZARD_ACTIVITY.END_LOCATION' | translate}}</div>
                            <div align='center'>{{ride.destAddress.city}}</div>
                        </div>
                    </div>
                </ion-item>
            </div>
        </div>

        <button class="item button button-block button-calm ssf-button" ui-sref="login">
            {{'BUTTONS.GET_STARTED' | translate}}
        </button>
    </ion-content>
</ion-view