<ion-view view-title="{{'APP.NAME' | translate }}">
	<!--Add profile settings as an H3-->
	<ion-nav-buttons side = "right">
	    <button class = "button ssf-bar-header icon ion-gear-a settings-button button-clear" ui-sref = "settings">
		</button>
	</ion-nav-buttons>
	<ion-content class="padding has-footer">
		<div class = "card">
		<form name="profileForm" class = "" novalidate ng-submit="updateProfile(profileForm)" >
			<div class = "row">
				<div class="col col-50 settings-title" align = "center">
					{{user.firstName}}
					<br>
					<br>
					{{user.lastName}}
				</ion-item>
				<div class = "col col-50" align = "center" style="float:right">
					<img src = "{{user.photo}}" class ="" width = "80%">
				</div>
			</div>
			<div class="list">
			    <label class="item item-input">
			    	<span class="input-label" style="">{{'USER_PROFILE_SETTINGS.PICTURE' | translate}}</span>
					<i class="fileUpload btn btn-primary outline-bottom-light-gray" style = "float:right">
						<i class="icon ion-upload ssf-color" style="font-size: 2.5em; padding-bottom:none"></i>  
						<i style="0.7em" class="ssf-color"> Upload Photo </i>
						<input type="file" name="image"  onchange="angular.element(this).scope().previewImage(this)" accept="image/png,image/jpg,image/jpeg" ng-model="user.photo">
					</i>
					<!--<input class = "outline-bottom-light-gray" type="file" style = "">-->
				</label>
				<label class="item item-input ">
					<span class="input-label">{{'USER_PROFILE_SETTINGS.FIRST_NAME' | translate}}</span>
					<input class = "outline-bottom-light-gray" type="text" ng-model="user.firstName">
				</label>
				<label class="item item-input">
					<span class="input-label">{{'USER_PROFILE_SETTINGS.LAST_NAME' | translate}}</span>
					<input class = "outline-bottom-light-gray" type="text" ng-model="user.lastName">
				</label>
				<label class="item item-input " ng-class="{ 'has-errors' : profileForm.address.$invalid && profileForm.$submitted}">
					<span class="input-label">{{'USER_PROFILE_SETTINGS.CELL_PHONE' | translate}}</span>
                	<input class = "outline-bottom-light-gray" name="cellNumbers" type="tel"  ng-model="user.cellPhone">
            	</label>
            	<label class="item item-input " ng-class="{ 'has-errors' : profileForm.email.$invalid && profileForm.$submitted}">
            		<span class="input-label">{{'USER_PROFILE_SETTINGS.EMAIL' | translate}}</span>
                	<input class = "outline-bottom-light-gray" name="email" type="email" ng-model="user.email" >
            	</label>
				<label class="item item-input " ng-class="{ 'has-errors' : profileForm.address.$invalid && profileForm.$submitted}">
					<span class="input-label">{{'USER_PROFILE_SETTINGS.ADDRESS' | translate}}</span>
                	<input class = "outline-bottom-light-gray" name="address" type="text" ng-model="user.address" >
            	</label>
            	<label class="item item-input " ng-class="{ 'has-errors' : profileForm.age.$invalid && profileForm.$submitted}">
            		<span class="input-label">{{'USER_PROFILE_SETTINGS.AGE' | translate}}</span>
                	<input class = "outline-bottom-light-gray" name="age" type="number" ng-model="user.age">
            	</label>
				<label class="item item-input item-select">
					<div class="input-label">
					  {{'USER_PROFILE_SETTINGS.GENDER' | translate}}
					</div>
					<span class="" ng-show="user.gender == 'Male' " style="float:right"><i class="icon ion-male"></i></span>
            		<span class="" ng-show="user.gender == 'Female' " style="float:right"><i class="icon ion-female"></i></span>
					<select class = "outline-bottom-light-gray" ng-model="user.gender">
					  <option value = "Male">Male</option>
					  <option value = "Female">Female</option>
					</select>
				</label>
     <!--       	<label class = "item row">-->
     <!--       		<span class="">{{'USER_PROFILE_SETTINGS.GENDER' | translate}}</span>-->
     <!--       		<div class="item range">-->
					<!--	<i class="icon ion-female"></i>-->
					<!--	<input class = "outline-bottom-light-gray" type="range" name="gender">-->
					<!--	<i class="icon ion-male"></i>-->
					<!--</div>-->
     <!--       	</label>-->
            	<label class="item item-input">
            		<span class="input-label">{{'USER_PROFILE_SETTINGS.AGE_RANGE' | translate}}</span>
                	<input class = "outline-bottom-light-gray" name="ageRange" type="text" ng-model="user.ageRange" align="center" placeholder="">
                	<!--placeholder="{{placeholderFinder('user', 'gender', 'USER_PROFILE_SETTINGS.AGE_RANGE') | translate}}"-->
            	</label>
            	<label class="item item-input item-select">
					<div class="input-label">
					  {{'USER_PROFILE_SETTINGS.LIKES_DOGS' | translate}}
					</div>
					<span class="" ng-show="user.likesDogs == 'Yes' " style="float:right"><i class="icon ion-ios-paw"></i></span>
					<select name="likesDogs" class = "outline-bottom-light-gray" ng-model="user.likesDogs">
					  <option value = "Yes">Yes</option>
					  <option value = "No">No</option>
					</select>
				</label>
            	<label class="item item-toggle">
            		<span class="toggle-settings-title">{{'USER_PROFILE_SETTINGS.SAME_SEX_ONLY' | translate}}</span>
            		<span class="" ng-show="user.sameSexOnly" style="float:right">
            			<i class="icon ion-male" ng-show="user.gender == 'Male'"></i>
            			<i class="icon ion-female" ng-show="user.gender == 'Female'"></i>
            		</span>
            		<label class="toggle toggle-balanced">
                		<input class = "outline-bottom-light-gray" name="sameSexOnly" type="checkbox" ng-model="user.sameSexOnly">
            			<!--placeholder="{{placeholderFinder('user', 'gender', 'USER_PROFILE_SETTINGS.SAME_SEX_ONLY') | translate}}"-->
            			<div class="track">
					    	<div class="handle"></div>
					   	</div>
					</label>
            	</label>
			</div>
			<div class="row">
			    <div class="col settings-title" align = "center">
			    	Vehicle
			    </div>
			    <div class="col col-50" align = "center"> <!---Make Sure to add this URL vvvv to the userInf object on the controller. --->
			        <img src="{{userVehicle.photo}}" class = "" width = "80%">
			    </div>
			</div>
			<div class="list">
			        <label class="item item-input ">
			        	<span class="input-label">{{'USER_PROFILE_SETTINGS.VEHICLE_PICTURE' | translate}}</span>
						<i class="fileUpload btn btn-primary outline-bottom-light-gray">
							<i class="icon ion-upload ssf-color" style="font-size: 2.5em; padding-bottom:none"></i>  <i style="0.7em" class="ssf-color"> Upload Photo </i>
							<input type="file" class = "upload" ng-model="userVehicle.photo">
						</i>
					</label>
					<label class="item item-input " ng-class="{ 'has-errors' : profileForm.carYear.$invalid && profileForm.$submitted}">
						<span class="input-label">{{'USER_PROFILE_SETTINGS.VEHICLE_YEAR' | translate}}</span>
                    	<input class = "outline-bottom-light-gray" name="carYear" type="number" ng-model="userVehicle.year">
                	</label>
					<label class="item item-input " ng-class="{ 'has-errors' : profileForm.make.$invalid && profileForm.$submitted}">
						<span class="input-label">{{'USER_PROFILE_SETTINGS.VEHICLE_MAKE' | translate}}</span>
                    	<input class = "outline-bottom-light-gray" name="make" type="text" ng-model="userVehicle.make">
                	</label>
                	<label class="item item-input " ng-class="{ 'has-errors' : profileForm.model.$invalid && profileForm.$submitted}">
                		<span class="input-label">{{'USER_PROFILE_SETTINGS.VEHICLE_MODEL' | translate}}</span>
                    	<input class = "outline-bottom-light-gray" name="vehicleModel" type="text" ng-model="userVehicle.model">
                	</label>
                	<label class="item item-input " ng-class="{ 'has-errors' : profileForm.carColor.$invalid && profileForm.$submitted}">
                		<span class="input-label">{{'USER_PROFILE_SETTINGS.VEHICLE_COLOR' | translate}}</span>
                    	<input class = "outline-bottom-light-gray" name="carColor" type="text"  ng-model="userVehicle.color">
                	</label>
                	<label class="item item-input " ng-class="{ 'has-errors' : profileForm.licensePlate.$invalid && profileForm.$submitted}">
                		<span class="input-label">{{'USER_PROFILE_SETTINGS.VEHICLE_LICENSE' | translate}}</span>
                    	<input class = "outline-bottom-light-gray" name="licensePlate" type="text" ng-model="userVehicle.licensePlate">
                	</label>
                	<label class="item item-toggle">
                		<span class="toggle-settings-title">{{'USER_PROFILE_SETTINGS.VEHICLE_BIKE_RACK' | translate}}</span>
                		<span class="" ng-show="userVehicle.bikeRack " style="float:right"><i class="icon ion-android-bicycle"></i></span>
                		<label class="toggle toggle-balanced">
	                    	<input class = "outline-bottom-light-gray" name="bikeRack" type="checkbox" ng-model="userVehicle.bikeRack">
	                    	<!--placeholder="{{placeholderFinder('vehicle', 'bikeRack', 'USER_PROFILE_SETTINGS.VEHICLE_BIKE_RACK') | translate}}"-->
	                    	<div class="track">
						    	<div class="handle"></div>
						   	</div>
					   	</label>
                	</label>
                	<label class="item item-toggle">
                		<span class="toggle-settings-title">{{'USER_PROFILE_SETTINGS.VEHICLE_WHEELCHAIR_ACCESSIBLE' | translate}}</span>
                		<label class="toggle toggle-balanced">
                    		<input class = "outline-bottom-light-gray" name="wheelchairAccessible" type="checkbox" ng-model="userVehicle.wheelChairAccessible">
	                		<!--placeholder="{{placeholderFinder('vehicle', 'wheelchairAccessible', 'USER_PROFILE_SETTINGS.VEHICLE_WHEELCHAIR_ACCESSIBLE') | translate}}"-->
	                		<div class="track">
						    	<div class="handle"></div>
						   	</div>
                		</label>
                	</label>
			    </div>
		<div>
			<button type="submit" class="item button button-block button-calm ssf-button">
        		{{'USER_PROFILE_SETTINGS.UPDATE' | translate}}
        	</button>
		</div>
		</form>
		</card>
	</ion-content>
</ion-view>