<ion-view view-title="{{'APP.NAME' | translate}}">

    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-gear-a button-clear" style="vertical-align: text-top;" ui-sref="settings">
        </button>
    </ion-nav-buttons>
    <ion-content class="padding has-footer">
        
        <div class='card item item-text-wrap'>
            <div class="item item-divider" align='center'>
                {{'RIDER_RESERVED_RIDE.TITLE' | translate}}
            </div>
            <div class='row'>
                <div class=' col list'>
                    <label class='row'>
                        <img style="display:block" height="100%" width="100%" src='{{information.info.photo}}' ng-hide='information.info.photo'>
                        <img style="display:block" height="100%" width="100%" src='./img/avatar.png' ng-hide='information.info.photo'>
                    </label>
                </div>
                <div class='col list '>
                    <label class='row driver-info list'>
                        {{'RIDER_RESERVED_RIDE.DRIVER_INFO' | translate}}</p>
                    </label>
                    <label class='row list'>
                        <strong>{{'RIDER_RESERVED_RIDE.NAME' | translate}}</strong>: 
                        {{information.info.firstName}}
                    </label>
                    <label class='row list'>
                        <strong>{{'RIDER_RESERVED_RIDE.CAR' | translate}}</strong>: 
                        {{information.check.data.make}} {{information.check.datamodel}}
                    </label>
                    <div class='row list'>
                        <strong>{{'RIDER_RESERVED_RIDE.CAR_COLOR' | translate}}</strong>: 
                        {{information.check.data.color}}
                    </div>
                    <div class='row list'>
                        <strong>{{'RIDER_RESERVED_RIDE.LICENSE_NUMBER'| translate}}</strong>: 
                        {{information.check.data.licensePlate}}
                    </div>
                </div>
            </div>
        </div>
        
        <div class="list card">
            <div class="item item-divider item-text-wrap" align='center' style="text-align:center" ng-click="toggle1Click(); toggle1()">
                {{'DRIVER_NEW_TRIP_NR.TRIP_DETAILS' | translate}} &nbsp;<i class="ion-arrow-down-b" ng-hide="toggleA"></i><i class="ion-arrow-up-b" ng-show="toggleA"></i>
            </div>
            <div class="toggle1" style="display: none">
                <div class="item item-icon-left">
                    <i class="icon ion-calendar"></i>
                    &nbsp;&nbsp;&nbsp; <strong>{{'RIDER_RESERVED_RIDE.RIDE_DATE' | translate}}</strong>
                    <br>&nbsp;&nbsp;&nbsp; {{information.info.startDate | date: "shortDate"}}
                </div>
                <div class="item item-icon-left">
                    <i class="icon ion-clock"></i>
                    &nbsp;&nbsp;&nbsp; <strong>{{'RIDER_RESERVED_RIDE.PICKUP_TIME' | translate}}</strong>
                    <br>&nbsp;&nbsp;&nbsp; {{information.info.startTime | date: "h:mm a"}}
                </div>
                <div class="item item-icon-left">
                    <i class="icon ion-location"></i>
                    &nbsp;&nbsp;&nbsp; <strong>{{'RIDER_RESERVED_RIDE.PICKUP_LOCATION' | translate}}</strong>
                    <br>&nbsp;&nbsp;&nbsp; {{information.info.startAddress.street}}
                </div>
                <div class="item item-icon-left">
                    <i class="icon ion-location"></i>
                    &nbsp;&nbsp;&nbsp; <strong>{{'RIDER_RESERVED_RIDE.DROPOFF_LOCATION' | translate}}</strong>
                    <br>&nbsp;&nbsp;&nbsp; {{information.info.destAddress.street}}
                </div>
            </div>
        </div>
        
        <div class="list card">
            <div class="item item-divider" align='center' style="text-align:center" ng-click="toggle2Click(); toggle2()">
                {{'DRIVER.REQUESTS' | translate}} &nbsp;<i class="ion-arrow-down-b" ng-hide="toggleB"></i><i class="ion-arrow-up-b" ng-show="toggleB"></i>
            </div>
            <div class="toggle2" style="display: none">
                <div class="item item-icon-left">
                    <i class="icon ion-person-stalker"></i>
                    <ion-checkbox class="item item-checkbox item-checkbox-right" ng-checked="{{information.info.sameGender}}" ng-disabled="true">
                        <strong>{{'DRIVER.SAME_GENDER' | translate}}</strong>
                    </ion-checkbox>
                </div>
                <div class="item item-icon-left">
                    <i class="icon ion-android-bicycle"></i>
                    <ion-checkbox class="item item-checkbox item-checkbox-right" ng-checked="{{information.info.bikeRack}}" ng-disabled="true">
                        <strong>{{'DRIVER.BIKE' | translate}}</strong>
                    </ion-checkbox>
                </div>
                <div class="item item-icon-left">
                    <i class="icon ion-help-buoy"></i>
                    <ion-checkbox class="item item-checkbox item-checkbox-right" ng-checked="{{information.info.haveWheelchair}}" ng-disabled="true">
                        <strong>{{'DRIVER.WHEELCHAIR' | translate}}</strong>
                    </ion-checkbox>
                </div>
                <div class="item item-icon-left">
                    <i class="icon ion-ios-paw"></i>
                    <ion-checkbox class="item item-checkbox item-checkbox-right" ng-checked="{{information.info.haveDog}}" ng-disabled="true">
                        <strong>{{'DRIVER.DOG' | translate}}</strong>
                    </ion-checkbox>
                </div>
                <div class="item item-icon-left">
                    <i class="icon ion-loop"></i>
                    <ion-checkbox class="item item-checkbox item-checkbox-right" ng-checked="{{information.info.roundTrip}}" ng-disabled="true">
                        <strong>{{'DRIVER.ROUND_TRIP' | translate}}</strong>   
                    </ion-checkbox>
                </div>
            </div>
        </div>
        
        <div class="button-bar">
            <a class="button button-block button-calm ssf-button" ng-click="finish()">
                {{"INFO.FINISH" | translate}}
            </a>
            <a class="button button-block button-calm ssf-button-inverted" ng-click="driverNoShow()">
                {{"INFO.NOSHOW" | translate}}
            </a>
        </div>
      
    </ion-content>
</ion-view>