<ion-view view-title="{{'APP.NAME' | translate}}" hide-nav-bar="false">
    <!--"{{'RIDER_MATCHED_RIDE.NAME' | translate}}"-->
    <ion-nav-buttons side="right">
        <button class="button button-clear icon ion-gear-a" ui-sref="settings">
        </button>
    </ion-nav-buttons>
    <ion-content class="padding has-footer">
        <div class='card item item-text-wrap'>
            <div class="item item-divider" align='center'>
                {{'RIDER_MATCHED_RIDE.MATCHED_TRIPS' | translate}}
            </div>
            <div>
                <ion-item ng-repeat="drivers in matchedDrivers" ng-click="tripMatch(drivers)" class='row-no-padding'>
                    <div class='row'>
                        <div class='col col-33'>
                            <div class='driver-info'>{{'RIDER_MATCHED_RIDE.DRIVER_NAME' | translate}}</div>
                            <div align='center'>{{drivers.firstName}} {{drivers.lastName}}</div>
                        </div>
                        <div class='col col-33'>
                            <div class='driver-info'>{{'RIDER_MATCHED_RIDE.START_TIME' | translate}}</div>
                            <div align='center'>{{drivers.startTime| date: 'shortTime'}}</div>
                        </div>
                        <div class='col col-33'>
                            <div class='driver-info'>{{'RIDER_MATCHED_RIDE.END_TIME' | translate}}</div>
                            <div align='center'>{{drivers.estEndTime| date: 'shortTime'}}</div>
                        </div>
                    </div>
                </ion-item>
            </div>
        </div>
    </ion-content>
</ion-view>