<ion-popover-view>
    <ion-header-bar>
      <h1 class="title">Contact Info</h1>
    </ion-header-bar>
    <ion-content>
      <div class="row">
          <div class = "col col-75 outline-grid" style = "vertical-align: middle">
              {{userInfo.user.email}}
          </div>
          <div class = "col button button-clear icon ion-email outline-grid">
            <a class = "button button-clear icon ion-email" href="mailto:{{userInfo.user.email}}"></a>
          </div>
      </div>
      <div class="row ">
          <div class = "col col-67 outline-grid" style = "vertical-align: middle">
              {{userInfo.user.cellPhone}}
          </div>
          <div class = "col outline-grid">
              <a class = "button button-clear icon ion-android-call" style = "float:right" href="tel:{{userInfo.user.cellPhone}}"></a>
              <a class = "button button-clear icon ion-ios-chatbubble" style = "float:right" href="sms:{{userInfo.user.cellPhone}}"></a>
          </div>
      </div>
    </ion-content>
  </ion-popover-view>