<ion-view view-title="{{'APP.NAME' | translate}}" hide-nav-bar="false">

 <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-gear-a button-clear">

        </button>
    </ion-nav-buttons>

    <ion-nav-buttons></ion-nav-buttons>
    <ion-content class='padding'>
<!--Add a button settings-->
        <h3 align='center'>{{'RATING.DRIVER_RATING' | translate}}</h3>

        <div class="card">
            <div class="item item-text-wrap">
    



                <i class="col text-center icon ion-ios-people" style="font-size: 120px; ">
                </i>

                <rating ng-model="rating.rate" max="rating.max"></rating>
        

                <form action="/html/tags/html_form_tag_action.cfm" method="post">
                <textarea name="comments" id="comments" style="width:96%;height:150px;padding:2%;font-size:1.2em;border:1px solid #cc6600;">
                {{'FORMS.COMMENTS' | translate}}
                </textarea>
                <br>
            
                </form>
                <button class="button button-block ssf-button button-calm" ng-click="checkRating()">
            {{'FORMS.BUTTONS.SUBMIT' | translate}}
                </button>

            </div>
        </div>
 
    </ion-content>
</ion-view>