<ion-view view-title="{{'APP.NAME' | translate}}">
    <!--Include ion-nav-buttons in every index to avoid breaking the app (ionic material bug) -->
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-gear-a button-clear" ui-sref="settings">

        </button>
    </ion-nav-buttons>
    <ion-content class="padding has-footer">
        <!--<h3 align='center'>{{'POST_TRIP_CTRL.TITLE' | translate}}</h3>-->
        
        <!--RYAN WAS HERE TOO-->
        <form name="trip" novalidate ng-submit="postTrip(trip)">
            <div class="card">
                <div class="item item-divider" align='center'>
                    {{'POST_TRIP_CTRL.TITLE' | translate}}
                </div>

                <label class="item item-icon-left item-label border-bottom">
                    <span class="input-label">{{'POST_TRIP_CTRL.TRIP_DATE' | translate}}</span>
                    <i class="icon ion-calendar"></i>
                    <input name="startDate" type="date" ng-model="newTrip.startDate" required></input>
                </label>

                <label class="item item-icon-left item-label border-bottom">
                    <span class="input-label">{{'POST_TRIP_CTRL.START_TIME' | translate}}</span>
                    <i class="icon ion-clock"></i>
                    <input name="startTime" type="time" ng-model="newTrip.beginTime" required></input>
                </label>
                
                <label class="item item-icon-left item-label border-bottom">
                    <span class="input-label">{{'POST_TRIP_CTRL.END_TIME' | translate}}</span>
                    <i class="icon ion-clock"></i>
                    <input name="endTime" type="time" ng-model="newTrip.endTime" required></input>
                </label>

            
            
                <label class="item item-icon-left item-label border-bottom" ng-click="startModal.show()">
                    <span class="input-label">{{'POST_TRIP_CTRL.START_LOCATION' | translate}}</span>
                    <i class="icon ion-location"></i>
                    <input name="startLocation" type="text" placeholder="{{'POST_TRIP_CTRL.INPUT_START' | translate}}" ng-model="newTrip.startAddress.street" disabled required></input>
                </label>
                <label class="item item-icon-left item-label border-bottom" ng-click="endModal.show()">
                    <span class="input-label">{{'POST_TRIP_CTRL.END_LOCATION' | translate}}</span>
                    <i class="icon ion-location"></i>
                    <input name="destAddress" type="text" placeholder="{{'POST_TRIP_CTRL.INPUT_END' | translate}}" ng-model="newTrip.destAddress.street" disabled required></input>
                </label>
            
            
            
                <label class="item item-icon-left item-label border-bottom">
                    <span class="input-label">{{'POST_TRIP_CTRL.PICKUP_RADIUS' | translate}}</span>
                    <i class="icon ion-arrow-expand"></i>
                    <input name="pickupRadius" type="number" min="0" placeholder="{{'POST_TRIP_CTRL.PICKUP_RADIUS' | translate}}" ng-model="newTrip.pickupRadius" required></input>
                </label>
                <label class="item item-icon-left item-label border-bottom">
                    <span class="input-label">{{'POST_TRIP_CTRL.SEATS_AVAILABLE' | translate}}</span>
                    <i class="icon ion-person-add"></i>
                    <input name="seatsAvailable" type="number" min="0" placeholder="{{'POST_TRIP_CTRL.SEATS_AVAILABLE' | translate}}" ng-model="newTrip.seatsAvailable" required></input>
                </label>
            </div>
            <div class="list card">
                <label class="item item-icon-left">
                    <i class="icon ion-help-buoy"></i>
                    <ion-checkbox class="item item-checkbox item-checkbox-right" ng-model="newTrip.wheelchair">
                        {{'POST_TRIP_CTRL.WHEELCHAIR' | translate}}
                    </ion-checkbox>
                </label>
                <label class="item item-icon-left">
                    <i class="icon ion-ios-paw"></i>
                    <ion-checkbox class="item item-checkbox item-checkbox-right" ng-model="newTrip.dogs">
                        {{'POST_TRIP_CTRL.DOG' | translate}}
                    </ion-checkbox>
                </label>
                <label class="item item-icon-left">
                    <i class="icon ion-loop"></i>
                    <ion-checkbox class="item item-checkbox item-checkbox-right" ng-model="newTrip.roundTrip">
                        {{'POST_TRIP_CTRL.ROUND_TRIP' | translate}}
                    </ion-checkbox>
                </label>
            </div>
            <button class="item button button-block button-calm ssf-button" type="submit">
                {{'POST_TRIP_CTRL.SUBMIT' | translate}}
            </button>
        </form>
    </ion-content>
</ion-view>



<script id="startModal.html" type="text/ng-template">
    <div class="modal">
        <header class="bar bar-header ssf-bar-header bar-clear button-clear">
            <h1 class="title">{{'POST_TRIP_CTRL.START_LOCATION' | translate}}</h1>
        </header>
        <ion-content class="padding has-header">
        
            <form name="start" novalidate ng-submit="insertStart(start)">
                <div class="card">
            
                    <label class="item item-icon-left item-floating-label border-bottom">
                        <span class="input-label">{{'POST_TRIP_CTRL.STREET' | translate}}</span>
                        <i class="icon ion-android-checkmark-circle"></i>
                        <input name="street" type="text" placeholder="{{'POST_TRIP_CTRL.STREET' | translate}}" ng-model="newTrip.startAddress.street" required></input>
                    </label>
                    
                    <label class="item item-icon-left item-floating-label border-bottom">
                        <span class="input-label">{{'POST_TRIP_CTRL.CITY' | translate}}</span>
                        <i class="icon ion-android-checkmark-circle"></i>
                        <input name="city" type="text" placeholder="{{'POST_TRIP_CTRL.CITY' | translate}}" ng-model="newTrip.startAddress.city" required></input>
                    </label>
        
                    <label class="item item-icon-left item-floating-label border-bottom">
                        <span class="input-label">{{'POST_TRIP_CTRL.STATE' | translate}}</span>
                        <i class="icon ion-android-checkmark-circle"></i>
                        <input name="state" type="text" placeholder="{{'POST_TRIP_CTRL.STATE' | translate}}" ng-model="newTrip.startAddress.state" required></input>
                    </label>
                    
                    <label class="item item-icon-left item-floating-label border-bottom">
                        <span class="input-label">{{'POST_TRIP_CTRL.ZIP' | translate}}</span>
                        <i class="icon ion-android-checkmark-circle"></i>
                        <input name="zip" type="text" placeholder="{{'POST_TRIP_CTRL.ZIP' | translate}}" ng-model="newTrip.startAddress.zip" required></input>
                    </label>
                
                    <button class="item button button-block button-calm ssf-button" type="submit">
                        {{'POST_TRIP_CTRL.SAVE' | translate}}
                    </button>
                </div>
    
            </form>
        </ion-content>
    </div>
</script>

<script id="endModal.html" type="text/ng-template">
    <div class="modal">
        <header class="bar bar-header ssf-bar-header bar-clear button-clear">
            <h1 class="title">{{'POST_TRIP_CTRL.END_LOCATION' | translate}}</h1>
        </header>
        <ion-content class="padding has-header">
            <form name="end" novalidate ng-submit="insertEnd(end)">
                <div class="card">
            
                    <label class="item item-icon-left item-floating-label border-bottom">
                        <span class="input-label">{{'POST_TRIP_CTRL.STREET' | translate}}</span>
                        <i class="icon ion-android-checkmark-circle"></i>
                        <input name="street" type="text" placeholder="{{'POST_TRIP_CTRL.STREET' | translate}}" ng-model="newTrip.destAddress.street" required></input>
                    </label>
                    
                    <label class="item item-icon-left item-floating-label border-bottom">
                        <span class="input-label">{{'POST_TRIP_CTRL.CITY' | translate}}</span>
                        <i class="icon ion-android-checkmark-circle"></i>
                        <input name="city" type="text" placeholder="{{'POST_TRIP_CTRL.CITY' | translate}}" ng-model="newTrip.destAddress.city" required></input>
                    </label>
        
                    <label class="item item-icon-left item-floating-label border-bottom">
                        <span class="input-label">{{'POST_TRIP_CTRL.STATE' | translate}}</span>
                        <i class="icon ion-android-checkmark-circle"></i>
                        <input name="state" type="text" placeholder="{{'POST_TRIP_CTRL.STATE' | translate}}" ng-model="newTrip.destAddress.state" required></input>
                    </label>
                    
                    <label class="item item-icon-left item-floating-label border-bottom">
                        <span class="input-label">{{'POST_TRIP_CTRL.ZIP' | translate}}</span>
                        <i class="icon ion-android-checkmark-circle"></i>
                        <input name="zip" type="text" placeholder="{{'POST_TRIP_CTRL.ZIP' | translate}}" ng-model="newTrip.destAddress.zip" required></input>
                    </label>
                
                    <button class="item button button-block button-calm ssf-button">
                        {{'POST_TRIP_CTRL.SAVE' | translate}}
                    </button>
                </div>
    
            </form>
        </ion-content>
    </div>
</script>