<ion-view view-title="{{'APP.NAME' | translate }}" hide-nav-bar="false">
  <!-- Include ion-nav-buttons in every index to avoid breaking the app (ionic material bug) -->
  <ion-nav-buttons></ion-nav-buttons>
  <ion-content>
    <div class="padding text-center subheader">
        {{'FORMS.REGISTER_TITLE' | translate}}
    </div>
    
    <form name="registerForm" class="padding" ng-submit="submitRegisterForm(registerForm)" novalidate>
      <div class="list animate-ripple">
        
        <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : registerData.email.$invalid && registerForm.$submitted}">
          <span class="input-label">{{'FORMS.INPUTS.EMAIL' | translate}}</span>
          <input type="email" name="email" ng-model="registerData.email" placeholder="{{'FORMS.INPUTS.EMAIL' | translate}}" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" required>
        </label>
        <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : registerData.password.$invalid && registerForm.$submitted}">
          <span class="input-label">{{'FORMS.INPUTS.PASSWORD' | translate}}</span>
          <input type="password" name="password" ng-model="registerData.password" placeholder="{{'FORMS.INPUTS.PASSWORD' | translate}}" pattern="(?=^.{8,}$)((?=.*\d)(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required>
        </label>
        <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : registerData.rePassword.$invalid && registerForm.$submitted}">
          <span class="input-label">{{'FORMS.INPUTS.REPEAT_PASSWORD' | translate}}</span>
          <input type="password" name="rePassword" ng-model="repeatPassword.password" placeholder="{{'FORMS.INPUTS.REPEAT_PASSWORD' | translate}}" pattern="(?=^.{8,}$)((?=.*\d)(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required>
        </label>
        
        <ion-checkbox name="eula" ng-model="registerData.hasAcceptedEULA" class="checkbox-calm" ng-class="{ 'has-errors' : !registerForm.eula.$modelValue && registerForm.$submitted}" required>
          {{'FORMS.INPUTS.EULA' | translate}}
        </ion-checkbox>
        <ion-checkbox ng-model="checkbox.rememberMe" class="no-border checkbox-calm" ng-change="clickedRememberMe()">
          {{'FORMS.INPUTS.REMEMBER_ME' | translate}}
        </ion-checkbox>
      </div>
      <div class="list animate-ripple">
        <button class="item button button-block button-calm ssf-button-inverted" type="button" style="margin:0" ng-click="navEula()">
          {{'FORMS.BUTTONS.EULA' | translate}}
        </button>
        <button class="item button button-block button-calm ssf-button" type="submit" ion-track-tap="Register-tap" ion-track-data="{ mockData: 'User tapped Register'}">
          {{'FORMS.BUTTONS.SUBMIT' | translate}}
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>