<ion-view view-title="{{'APP.NAME' | translate}}">
    <!--Include ion-nav-buttons in every index to avoid breaking the app (ionic material bug) -->
    <ion-nav-buttons side="right">
        <button class="button icon button-clear ion-gear-a">
        </button>
    </ion-nav-buttons>
    <ion-content class="padding has-footer">

        <form name="ride" novalidate ng-submit="requestRide(ride)">
            <div class="card">
                <div class="item item-divider card-header" align='center'>
                    {{'REQUEST_RIDE_CTRL.TITLE' | translate}}
                </div>
                <label class="item item-icon-left item-floating-label border-bottom">
                    <span class="input-label">{{'REQUEST_RIDE_CTRL.RIDE_DATE' | translate}}</span>
                    <i class="icon ion-calendar"></i>
                    <input name="rideDate" type="text" onfocus="this.type='date'; this.setAttribute('onfocus','');this.blur();this.focus();" placeholder="{{'REQUEST_RIDE_CTRL.RIDE_DATE' | translate}}" ng-model="newRide.rideDate" required></input>
                </label>

                <label class="item item-icon-left item-floating-label border-bottom">
                    <span class="input-label">{{'REQUEST_RIDE_CTRL.PICKUP_TIME' | translate}}</span>
                    <i class="icon ion-clock"></i>
                    <input name="pickupTime" type="text" onfocus="this.type='time'; this.setAttribute('onfocus','');this.blur();this.focus();" placeholder="{{'REQUEST_RIDE_CTRL.PICKUP_TIME' | translate}}" ng-model="newRide.pickupTime" required></input>
                </label>
                <label class="item item-icon-left item-floating-label border-bottom">
                    <span class="input-label">{{'REQUEST_RIDE_CTRL.PICKUP_LOCATION' | translate}}</span>
                    <i class="icon ion-location"></i>
                    <input name="pickupLocation" type="text" placeholder="{{'REQUEST_RIDE_CTRL.PICKUP_LOCATION' | translate}}" ng-model="newRide.pickupLocation" required></input>
                </label>
                <label class="item item-icon-left item-floating-label border-bottom">
                    <span class="input-label">{{'REQUEST_RIDE_CTRL.DROPOFF_LOCATION' | translate}}</span>
                    <i class="icon ion-location"></i>
                    <input name="dropoffLocation" type="text" placeholder="{{'REQUEST_RIDE_CTRL.DROPOFF_LOCATION' | translate}}" ng-model="newRide.dropoffLocation" required></input>
                </label>
            </div>
            <div class="list card">
                <label class="item item-icon-left">
                    <i class="icon ion-help-buoy"></i>
                    <ion-checkbox class="item item-checkbox item-checkbox-right" ng-model="newTrip.wheelchair">
                        {{'REQUEST_RIDE_CTRL.WHEELCHAIR' | translate}}:
                    </ion-checkbox>
                </label>
                <label class="item item-icon-left">
                    <i class="icon ion-ios-paw"></i>
                    <ion-checkbox class="item item-checkbox item-checkbox-right" ng-model="newTrip.dogs">
                        {{'REQUEST_RIDE_CTRL.DOG' | translate}}:
                    </ion-checkbox>
                </label>
                <label class="item item-icon-left">
                    <i class="icon ion-loop"></i>
                    <ion-checkbox class="item item-checkbox item-checkbox-right" ng-model="newTrip.roundTrip">
                        {{'REQUEST_RIDE_CTRL.ROUND_TRIP' | translate}}:
                    </ion-checkbox>
                </label>
            </div>
        <button class="item button button-block button-calm ssf-button" type="submit">
            {{'REQUEST_RIDE_CTRL.SUBMIT' | translate}}
        </button>
        </form>
    </ion-content>
</ion-view>