<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="lib/ionic-material/dist/ionic.material.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="lib/ionic-rating/ionic-rating.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="lib/ionic-platform-web-client/dist/ionic.io.bundle.min.js"></script>
    <script src="lib/ionic-material/dist/ionic.material.min.js"></script>
    <script src="lib/ionic-rating/ionic-rating.min.js"></script>
    <script src="lib/angular-translate/angular-translate.js"></script>
    <script src="lib/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="lib/ionic-datepicker/dist/ionic-datepicker.bundle.min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <!-- Cordova is bootstrapped by ionic-platform-web-client, uncomment this if you remove ionic-platform-web-client... -->
    <!-- <script src="cordova.js"></script> -->

    <!-- SSFServices -->
        <script src="js/SSFConfig.js"></script>
        <script src="js/SSFServices/SSFAlerts.js"></script>
        <script src="js/SSFServices/SSFCache.js"></script>
        <script src="js/SSFServices/SSFConnectivity.js"></script>
        <script src="js/SSFServices/SSFCss.js"></script>
        <script src="js/SSFServices/SSFDeploy.js"></script>
        <script src="js/SSFServices/SSFDirectives.js"></script>
        <script src="js/SSFServices/SSFFavorites.js"></script>
        <script src="js/SSFServices/SSFLogout.js"></script>
        <script src="js/SSFServices/SSFMailComposer.js"></script>
        <script src="js/SSFServices/SSFSpinner.js"></script>
        <script src="js/SSFServices/SSFTranslate.js"></script>

    <!-- Services -->
        <script src="js/Services/TripService.js"></script>
        <script src="js/Services/RiderTripDetailsService.js"></script>

    <!-- CONTROLLERS -->
        <script src="js/controllers/landing.js"></script>

    <!-- DRIVER -->
        <script src="js/controllers/driver/driver.js"></script>
        <script src="js/controllers/driver/driverPendingTrip.js"></script>
        <script src="js/controllers/driver/driverReservedRide.js"></script>
        <script src="js/controllers/driver/driverTripDetails.js"></script>

    <!-- FORMS -->
        <script src="js/controllers/forms/login.js"></script>
        <script src="js/controllers/forms/postTrip.js"></script>
        <script src="js/controllers/forms/register.js"></script>
        <script src="js/controllers/forms/requestRide.js"></script>

    <!-- HISTORY -->
    <script src="js/controllers/history/historyDriver.js"></script>
    <script src="js/controllers/history/historyRider.js"></script>


    <!-- RATINGS -->
        <script src="js/controllers/ratings/driverRating.js"></script>
        <script src="js/controllers/ratings/riderRating.js"></script>


    <!-- RIDER -->
        <script src="js/controllers/rider/rider.js"></script>
        <script src="js/controllers/rider/riderMatchedRide.js"></script>
        <script src="js/controllers/rider/riderNewRide.js"></script>
        <script src="js/controllers/rider/riderPendingRide.js"></script>
        <script src="js/controllers/rider/riderReservedRide.js"></script>
        <script src="js/controllers/rider/riderTripDetails.js"></script>

    <!-- SETTINGS -->
        <script src="js/controllers/settings/settings.js"></script>
        <script src="js/controllers/settings/userProfile.js"></script>
        <script src="js/controllers/settings/userProfileSettings.js"></script>
        
    <!-- controllers -->
    <!-- MISC -->
        <script src="js/controllers/eula.js"></script>
        <script src="js/controllers/lobby.js"></script>
        <script src="js/controllers/wizardActivity.js"></script>
        <script src="js/controllers/footer.js"></script>


    <!-- IMPORTANT -->
        <script src="js/RESTServices/activityService.js"></script>
        <script src="js/RESTServices/driverService.js"></script>
        <script src="js/RESTServices/getDriverInfoService.js"></script>
        <script src="js/RESTServices/getRiderInfoService.js"></script>
        <script src="js/RESTServices/matchesService.js"></script>
        <script src="js/RESTServices/postedTripsService.js"></script>
        <script src="js/RESTServices/requestedRidesService.js"></script>
        <script src="js/RESTServices/SSFUsers.js"></script>
        <script src="js/RESTServices/updateUser.js"></script>
        <script src="js/RESTServices/Vehicles.js"></script>
        
        <script src="js/app.js"></script>
</head>

<body ng-app="starter" ng-controller='FooterCtrl'>
    <div resize="" ng-app="starter" style="height:100%;" ng-style="style()">
        <ion-nav-bar class="bar-calm ssf-bar-header">
            <ion-nav-back-button>
                {{&quot;&quot;}}
            </ion-nav-back-button>
        </ion-nav-bar>

        <ion-nav-view></ion-nav-view>

        <ion-footer-view ng-hide='hideFooter'>
            <div class="bar-positive ssf-bar-header tabs app-tabs">
                <a class="tab-item" ng-click="goHome()">
                    <i class="icon ion-ios-home button button-clear"></i>
                </a>
                <a class="tab-item" ng-click="goRider()">
                    <i class="icon ion-ios-briefcase button button-clear"></i>
                </a>
                <a class="tab-item" ng-click="openPopover($event)">
                    <i class="icon ion-plus-circled button button-clear"></i>
                </a>
                <a class="tab-item" ng-click="goDriver()">
                    <i class="icon ion-ios-navigate button button-clear"></i>
                </a>
                <a class="tab-item" ng-click="goProfile()">
                    <i class="icon ion-person button button-clear"></i>
                </a>
            </div>
        </ion-footer-view>
    </div>
</body>

</html>