<ion-view view-title="{{'APP.NAME' | translate}}" hide-nav-bar="false">
    <ion-nav-buttons side="right">
        <!--add {{'DRIVER_RESERVED_RIDE.NAME'}} | translate}} to a header-->
        <button class="button button-clear icon ion-gear-a" ui-sref="settings">
        </button>
    </ion-nav-buttons>
    <ion-content class="padding has-footer">
        <!-- TODO:
    - Pressing the rider no show warns driver of function (rate 0, remove committed rider from the list).
-->

        <div class="list card">
            <div class="item item-divider item-text-wrap" align='center' style="text-align:center" ng-click="toggle1Click(); toggle1()">
                {{'DRIVERRESERVEDRIDE.TITLE' | translate}}&nbsp;<i class="ion-arrow-down-b" ng-show="toggleA"></i><i class="ion-arrow-up-b" ng-hide="toggleA"></i>
            </div>
            <div class="toggle1">
                <div class="item item-icon-left">
                    <i class="icon ion-calendar"></i> &nbsp;&nbsp;&nbsp; <strong>{{'DRIVER_PENDING_TRIP_CTRL.RIDE_DATE' | translate}}</strong>
                    <br>&nbsp;&nbsp;&nbsp; {{tripDetails.startDate}}
                </div>
                <div class="item item-icon-left">
                    <i class="icon ion-clock"></i> &nbsp;&nbsp;&nbsp; <strong>{{'DRIVER_RESERVED_RIDE.START_TIME' | translate}}</strong>
                    <br>&nbsp;&nbsp;&nbsp; {{tripDetails.startTime}}
                </div>
                <!--<div class="item item-icon-left">-->
                <!--    <i class="icon ion-clock"></i> &nbsp;&nbsp;&nbsp; <strong>{{'DRIVER_RESERVED_RIDE.END_TIME' | translate}}</strong>-->
                <!--    <br>&nbsp;&nbsp;&nbsp; {{tripDetails.estEndTime}}-->
                <!--</div>-->
                <div class="item item-icon-left">
                    <i class="icon ion-location"></i> &nbsp;&nbsp;&nbsp; <strong>{{'DRIVER_RESERVED_RIDE.START_LOCATION' | translate}}</strong>
                    <br>&nbsp;&nbsp;&nbsp; {{tripDetails.startAddress.street}}
                    <br>&nbsp;&nbsp;&nbsp; {{tripDetails.startAddress.city}}, {{tripDetails.startAddress.state}} {{tripDetails.startAddress.zip}}
                </div>


                <div class="item item-icon-left">
                    <i class="icon ion-location"></i> &nbsp;&nbsp;&nbsp; <strong>{{'DRIVER_RESERVED_RIDE.END_LOCATION' | translate}}</strong>
                    <br>&nbsp;&nbsp;&nbsp; {{tripDetails.destAddress.street}}
                    <br>&nbsp;&nbsp;&nbsp; {{tripDetails.destAddress.city}}, {{tripDetails.destAddress.state}} {{tripDetails.destAddress.zip}}
                </div>

            </div>

            <div class="list card">
                <div class="item item-divider item-text-wrap" align='center' style="text-align:center">
                    {{'DRIVER_RESERVED_RIDE.COMMITTED_RIDERS' | translate}}
                </div>

                <div ng-repeat="riders in user">
                    <ion-list>
                        <ion-item>
                            <button class="button button-clear icon ion-navicon-round" ng-click="displayRidersUniqueInfo($event, {{riders}})">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{riders.firstName}} {{riders.lastName}}</button>
                        </ion-item>
                    </ion-list>
                </div>
            </div>

            <div class="button-bar">
                <a class="button button-block button-calm ssf-button" ng-hide="tripDetails.state == 'started' || tripDetails.state == 'completed'" ng-click="tripUpdate('started')">
                {{'DRIVER_RESERVED_RIDE.RIDE_START' | translate}}
            </a>
                <a class="button button-block button-calm ssf-button" ng-show="tripDetails.state == 'started'" ng-click="tripUpdate('ended')">
                {{'DRIVER_RESERVED_RIDE.RIDE_COMPLETE' | translate}}
            </a>
                <a class="button button-block button-calm ssf-button-inverted" ng-show="tripDetails.state == 'completed'">
                {{'DRIVER_RESERVED_RIDE.COMPLETED' | translate}}
            </a>
                <a class="button button-block button-calm ssf-button-inverted" ng-hide="tripDetails.state == 'completed'" ng-click="tripUpdate('canceled')">
                {{'DRIVER_RESERVED_RIDE.CANCEL_TRIP' | translate}}
            </a>
            </div>

    </ion-content>
</ion-view>