<ion-view view-title="{{'APP.NAME' | translate}}">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-gear-a button-clear" style="vertical-align: text-top;" ui-sref="settings">
        </button>
    </ion-nav-buttons>
    <ion-content class="padding has-footer">
        <!--<h3 align="center">{{"INFO.TRIPS" | translate}}</h3>-->

        <div class='card'>
            <div class="item item-divider" align='center'>
                {{"INFO.TRIPS" | translate}}
            </div>
            <label class="item item-input item-select">
                <div class="input-label">
                    {{'RIDER_PAGE_CTRL.FILTER' | translate}}
                </div>
                <select ng-model="filterItem.store">
                    <option value="{{item.state}}" ng-repeat="item in filterOptions.sort" ng-selected="$first">
                        {{item.name}}
                    </option>
                </select>
            </label>
            <hr>

            <div>
                <ion-item ng-repeat="trip in trips | filter:customFilter" ng-click="goTo(trip)" class='row-no-padding item-text-wrap'>
                    <div class="row">
                        <div class="col col-33">
                            <div class='driver-info'>Date:</div>
                            <div align='center'>{{trip.startDate  | date: short}}</div>
                        </div>
                        <div class="col col-33">
                            <div class='driver-info'>Destination:</div>
                            <div align='center'>{{trip.destAddress.city}}</div>
                        </div>
                        <div class="col col-33">
                            <div class='driver-info'>State:</div>
                            <div align='center'><strong>{{trip.state}}</strong></div>
                        </div>
                    </div>
                </ion-item>
            </div>
        </div>
         <button class="item button button-block button-calm ssf-button" ng-click="historyGo()">
                {{'HISTORY.DRIVER_HISTORY_HEADER' | translate}}
            </button>
    </ion-content>
</ion-view>