<ion-view view-title="{{'APP.NAME' | translate}}">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-gear-a button-clear" style="vertical-align: text-top;" ui-sref="settings">
        </button>
    </ion-nav-buttons>
    <ion-content class="padding has-footer">
        <div class="list card">
            <div>
                <h2 align="center">{{selectedTripInfo.startDate | date: "MMMM dd, yyyy"}}</h2>
                <p align="center">{{selectedTripInfo.startTime}}</p>
            </div>

            <div class="item item-body row" align="center">
                <div class="col col-33">
                    {{selectedTripInfo.startAddress.street}}, {{selectedTripInfo.startAddress.city}}, {{selectedTripInfo.startAddress.state}}
                </div>
                <div class="col col-33">
                    {{'RIDER_RESERVED_RIDE.TO' | translate}}
                </div>
                <div class="col col-33">
                    {{selectedTripInfo.destAddress.street}}, {{selectedTripInfo.destAddress.city}}, {{selectedTripInfo.destAddress.state}}
                </div>
            </div>
        </div>
        <div class="list card">
            <div>
                {{'RIDER_RESERVED_RIDE.NAME' | translate}} {{driverInfo.driver.firstName}}
            </div>
            <div>
                {{'RIDER_RESERVED_RIDE.CAR' | translate}} {{driverInfo.vehicle.make}} - {{driverInfo.vehicle.model}}
            </div>
            <div>
                {{'RIDER_RESERVED_RIDE.CAR_COLOR' | translate}} {{driverInfo.vehicle.color}}
            </div>
            <div>
                {{'RIDER_RESERVED_RIDE.LICENSE_NUMBER'| translate}} {{driverInfo.vehicle.licensePlate}}
            </div>
             <div>
                <img align="left" src="{{driverInfo.vehicle.photo}}"></img>
            </div>
        </div>
    </ion-content>
</ion-view>