<ion-view view-title="{{'APP.NAME' | translate}}" hide-nav-bar="false">

    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-gear-a button-clear" ui-sref="settings">
        </button>
    </ion-nav-buttons>

    <ion-content class='padding has-footer'>
        <div class='card item item-text-wrap'>
            
            <div class="item item-divider" align='center'>
                {{'DRIVERRESERVEDRIDE.TRIP_DETAILS' | translate}}
            </div>

            <div class='row'>
                <div class='col col-50 list '>
                    <label class='row'>
                        <img style="display:block;" width="100%" height="100%" src='{{fakeUser.photo}}'>
                    </label>
                </div>
                <div class='col col-50 list'>
                    <br>
                    <label class='row driver-info list'>
                        {{'RIDER_TRIP_DETAILS_CTRL.DRIVER' | translate}}
                    </label>
                    <label class='row list'>
                        {{'RIDER_TRIP_DETAILS_CTRL.NAME' | translate}} {{fakeUser.firstName}} {{fakeUser.lastName}}
                    </label>
                    <label class='row list'>
                        {{'RIDER_TRIP_DETAILS_CTRL.AGE' | translate}} {{fakeUser.age}}
                    </label>
                    <div class='row list'>
                        {{'RIDER_TRIP_DETAILS_CTRL.GENDER' | translate}} {{fakeUser.gender}}
                    </div>
                </div>
            </div>
        </div>

        <br>
        <form ng-submit="submitRating()">
            
            <div class='card item item-text-wrap'>

                <div class="item item-divider" align='center'>
                    {{'RATING.RIDER_RATING' | translate}}
                </div>
                <div>
                    <i class="col text-center icon ion-model-s" style="font-size: 75px;"></i>
                    <rating ng-model="rating.default" max="rating.max" align="center" class="border-bottom"></rating>
                </div>
                <ion-item>
                    <textarea ng-model="rating.comments" name="comments" class="comments" placeholder="Comments"></textarea>
                </ion-item>
            </div>
            <button class="button button-block ssf-button button-calm" type="submit">
                {{'FORMS.BUTTONS.SUBMIT' | translate}}
            </button>
        </form>
        <!-- What happens when you click submit? Include: Person your rating's ID, comment, and star rating -->
    </ion-content>
</ion-view>
