/* Empty. Add your own CSS if you like */
.border{
     border: 1px solid  !important;
}
/* ionics padding */
.has-errors {
  border: 1px solid red !important;
}
.border {
    border: 1px solid !important;
}
.button {
  padding: 0 12px !important;
  text-align: center !important;
}
.input-icon {
  box-shadow: none !important;
  top: 3px !important;
  vertical-align: bottom !important;
}
.subheader {
    font-size: 20px;
}


/*these '.ssf-' classes are for the SSFCssServices*/
.ssf-button {
    font-weight: bold !important;
}
.ssf-button-inverted {
    font-weight: bold !important;
}
.ssf-bar-header {
    color: #808285 !important;
}
.ssf-tabs {
    font-weight: bold !important;
}

.driver-info {
    font-size: 10px !important;
    font-weight: bold !important;
    text-align: center !important;
}

.center {
    text-align: center !important;
}